.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 1000;
}

.logoContainer {
  width: 500px;
  min-width: 500px;
  height: 500px;
  margin-bottom: 2rem;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.progressBarContainer {
  width: 300px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: #fff;
  transition: width 0.1s ease;
}

.progressText {
  margin-top: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .logoContainer {
    width: 300px;
    min-width: 300px;
    height: 300px;
  }
} 