@font-face {
  font-family: 'VCR OSD Mono';
  src: url('/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hornet Display';
  src: url('/fonts/HornetDisplay-Regular.woff2') format('woff2'),
       url('/fonts/HornetDisplay-Regular.woff') format('woff'),
       url('/fonts/HornetDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hornet Display';
  src: url('/fonts/HornetDisplay-Bold.woff2') format('woff2'),
       url('/fonts/HornetDisplay-Bold.woff') format('woff'),
       url('/fonts/HornetDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ECLIPSE SickAgain';
  src: url('/ECLIPSE-SickAgain.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ededed;
  --font-title: 'VCR OSD Mono', monospace;
  --font-body: 'Hornet Display', sans-serif;
  --font-eclipse: 'ECLIPSE SickAgain', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* background-image: url('/windows.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: var(--font-title);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
